@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 200px;
}

.navbar {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dojonary {
    height: 75px;
    width: 900px;
    background-color: silver;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.searcharea {
    width: 200px;
    height: 25px;
    display: flex;
    align-items: center;
    border: 2px solid black;
}

h3  {
    width: 100px;
    height: 50px;
    color: white;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-left {

}

.box {
    width: 500px;
}

.littlebox {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.definition {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-right {
    
}