* {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.452);
    color: black;
}

.github {
    width: 900px;
    background-color: rgba(255, 255, 255, 0.329);
    margin:0px auto;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px
}

.daft {
    background-color:blue;
}

.cat {
    justify-content: space-evenly;
    background-color:rgb(0, 117, 185);
    margin-top: 10px;
    margin-bottom: 10px
}

.cool {
    background-color:rgb(2, 245, 184);
}


img {
    height: 200px;
}