@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.nav-title {
    color: white;
    font-family: "Roboto", sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(34, 34, 46);
    margin: 10px;
    padding: 10px;
}

.nav-title {
    cursor: pointer;
}

.nav-links {
    width: 1200px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9
}

.btn {
    width: 100px;
    background-color: rgb(40, 155, 190);
    color: white;
    box-shadow: 4px 4px black;
}
